@keyframes loading-progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-loading-progress {
  animation: loading-progress 2s ease-in-out infinite;
}