@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 94 38% 25%;
    --card: 0 0% 100%;
    --card-foreground: 94 38% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 94 38% 25%;
    --primary: 84 44% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 10% 95%;
    --secondary-foreground: 120 25% 15%;
    --muted: 120 10% 95%;
    --muted-foreground: 120 10% 40%;
    --accent: 120 10% 95%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 85%;
    --input: 120 10% 85%;
    --ring: 84 44% 49%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 104 56% 40%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 104 56% 40%;
  }

  .dark {
    --background: 120 25% 10%;
    --foreground: 0 0% 98%;
    --card: 120 25% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 120 25% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 84 44% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 10% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 10% 15%;
    --muted-foreground: 120 5% 64.9%;
    --accent: 120 10% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 142.1 76.2% 36.3%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 142.1 76.2% 36.3%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 142.1 76.2% 36.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.auth-layout-background {
  background-color: #f0f2f5;
}

@layer components {
  .bg-background\/50 {
    background-color: hsla(var(--background) / 0.5);
  }
  .bg-card\/60 {
    background-color: hsla(var(--card) / 0.6);
  }
  .bg-background\/30 {
    background-color: hsla(var(--background) / 0.3);
  }
  .bg-sidebar\/80 {
    background-color: hsla(var(--sidebar-background) / 0.8);
  }
}
