
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 95%;
    --foreground: 80 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 120 10% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 10% 5%;
    --primary: 140 80% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80 10% 95%;
    --secondary-foreground: 80 25% 15%;
    --muted: 60 50% 90%;
    --muted-foreground: 60 10% 40%;
    --accent: 56 62% 85%;
    --accent-foreground: 60 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 75%;
    --input: 120 10% 75%;
    --ring: 140 80% 20%;
    --radius: 0.5rem;
    --sidebar-background: 140 80% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 120 40% 65%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 140 80% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 140 80% 15%;
    --sidebar-ring: 120 40% 65%;
    --chart-1: hsl(var(--primary));
    --chart-2: 220 80% 50%;
    --chart-3: 0 80% 50%;
    --chart-4: 40 80% 50%;
    --chart-5: 280 80% 50%;
  }

  .dark {
    --background: 120 25% 5%;
    --foreground: 0 0% 98%;
    --card: 140 80% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 120 25% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 84 44% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 10% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 140 80% 20%;
    --muted-foreground: 120 5% 64.9%;
    --accent: 120 10% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 80% 25%;
    --input: 140 80% 20%;
    --ring: 142.1 76.2% 36.3%;
    --sidebar-background: 120 25% 5%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 140 80% 25%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 142.1 76.2% 36.3%;
    --chart-1: hsl(var(--primary));
    --chart-2: 220 80% 60%;
    --chart-3: 0 80% 60%;
    --chart-4: 40 80% 60%;
    --chart-5: 280 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
